<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAuzwDYrvBB1vxKXS-LgPLaaD-WzAVBqj4</string>
	<key>GCM_SENDER_ID</key>
	<string>591568493494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adminWebapp</string>
	<key>PROJECT_ID</key>
	<string>varateblog-bf4ae</string>
	<key>STORAGE_BUCKET</key>
	<string>varateblog-bf4ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591568493494:ios:e416afb9f2a03807943f17</string>
</dict>
</plist>